h1 {
    margin: 0.75vw 4.5vw 0.75vw 0;
    display: inline-block;
}

button.guessBtn{
    margin: 1vw;
    width: 18vw;
    padding-bottom: 12vw;
    box-sizing: border-box;
    position: relative;
    background-color: #EDEDED;
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    transition-duration: 0.25s;
}

img.guessFlag {
    border-style: solid;
    border-color: #111111;
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button.resetBtn{
    background-color: #EDEDED;
    margin: 1.5vw;
    padding: 1vw 3vw;
    text-decoration: none;
    font-size: calc(16px + 0.5vw);
    border-width: 1px;
    border-style: solid;
    border-color: #BBBBBB;
    transition-duration: 0.25s;
}

button.resetBtn:hover:enabled, button.guessBtn:hover:enabled{
    background-color: #FDFDFD;
}